node-red.clipboard
[{"id":"fd54ed59.1b385","type":"wifiscan","z":"e93c5ce1.c8cb08","name":"","x":374.5,"y":173.5,"wires":[["cdf368b8.7fa9c8","6629dc7e.f0502c"]]},{"id":"cdf368b8.7fa9c8","type":"skyhook-locationrq","z":"e93c5ce1.c8cb08","name":"","x":564.5,"y":195,"wires":[[]]},{"id":"e6f8b546.49ecc","type":"debug","z":"e93c5ce1.c8cb08","name":"","active":true,"console":"false","complete":"false","x":926.5,"y":162,"wires":[]},{"id":"6629dc7e.f0502c","type":"debug","z":"e93c5ce1.c8cb08","name":"","active":true,"console":"false","complete":"false","x":577.5,"y":323,"wires":[]},{"id":"466867b9.061438","type":"xml","z":"e93c5ce1.c8cb08","name":"xml -> json","attr":"","chr":"","x":742.5,"y":165.5,"wires":[["e6f8b546.49ecc","b9ab8d72.5c974"]]},{"id":"1a611cd1.0c2ce3","type":"http in","z":"e93c5ce1.c8cb08","name":"","url":"/geoloc","method":"get","swaggerDoc":"","x":154.5,"y":180.5,"wires":[["296e48f2.052848"]]},{"id":"b9ab8d72.5c974","type":"http response","z":"e93c5ce1.c8cb08","name":"","x":935.5,"y":276,"wires":[]},{"id":"296e48f2.052848","type":"template","z":"e93c5ce1.c8cb08","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<LocationRS version=\"2.23\" xmlns=\"http://trueposition.com/truefix\"><location age=\"0\"><latitude>40.064494</latitude><longitude>-75.460253</longitude><hpe>255</hpe></location></LocationRS>\n","x":461.5,"y":101.5,"wires":[["466867b9.061438"]]}]
